BRIDGE_HOST=0.0.0.0
BRIDGE_PORT=9911
BRIDGE_TOKEN=BridgeSecretToken
BRIDGE_LOG_LEVEL=info
UPTIME_KUMA_TAG=2

KUMA_URL=https://my.kuma.url
KUMA_USERNAME=mykumausername
KUMA_PASSWORD=mykumapassword
KUMA_2FA_SECRET=2fa-secret-key
KUMA_TIMEOUT=60
